{{- $page := . -}}

{{ $titleGalleryName := $page.Params.title_gallery }}
{{- $path := printf "%s%s" "/embedded-gallery/" $titleGalleryName -}}
{{ $gallery := .Site.GetPage $path }}

{{ $lines := split $gallery.RawContent "\n" }}
{{ $map := dict }}
{{ range $lines }}
    {{ $descr := split . ";" }}
    {{ $map = merge $map (dict (index $descr 0) (index $descr 1)) }}
{{ end }}

<div class="post_img swiper">
    <div class="swiper-wrapper title-gallery" style="text-align: center">
        {{ range $gallery.Resources.ByType "image" }}
            {{- $title := index $map .Name -}}
            {{- $originalImage := . -}}
            {{- $context := printf " in embedded gallery %q" $path -}}
            {{- $image := partial "_funcs/process-image.html" (dict "resource" $originalImage "method" "Fit" "spec" "1920x1920 q90" "context" $context) -}}
            {{- $orientation := partial "_funcs/get-image-orientation.html" . -}}
            {{- if eq 6 $orientation -}}
                {{- $image = partial "_funcs/process-image.html" (dict "resource" $originalImage "method" "Fit" "spec" "1920x1920 q90 r270" "context" $context) -}}
            {{- else if eq 8 $orientation -}}
                {{- $image = partial "_funcs/process-image.html" (dict "resource" $originalImage "method" "Fit" "spec" "1920x1920 q90 r90" "context" $context) -}}
            {{- else if eq 3 $orientation -}}
                {{- $image = partial "_funcs/process-image.html" (dict "resource" $originalImage "method" "Fit" "spec" "1920x1920 q90 r180" "context" $context) -}}
            {{- end -}}
            {{- if $image -}}
            {{- $preview := partial "_funcs/process-image.html" (dict "resource" $image "method" "Fit" "spec" "970x728 q100" "context" $context) -}}
            {{- $thumb := partial "_funcs/process-image.html" (dict "resource" $image "method" "Fit" "spec" "96x76 q100" "context" $context) -}}
            {{- if and $preview $thumb -}}
        <figure data-src="{{ $image.RelPermalink | relLangURL }}" data-thumb="{{ $thumb.RelPermalink | relLangURL }}" class="swiper-slide">
            <img src="{{ $preview.RelPermalink | relLangURL }}" alt="{{ $title }}">
        </figure>
            {{- end -}}
            {{- end -}}
        {{ end }}
    </div>
    <div class="swiper-pagination"></div>
</div>
